<h1>BuchananFraser Wiki</h1>
<h5>Welcome <%= current_user.email %> </h5>
<div class="row">
	<div class="col-md-12">
		<div class="col-md-9">
			<h3>Script</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce faucibus rutrum aliquet. Donec tincidunt feugiat consequat. Morbi facilisis neque sit amet enim varius, sit amet aliquam odio vestibulum. In fermentum, ligula vel porta pellentesque, velit lacus auctor enim, vel congue ipsum metus ut tortor. Phasellus at leo ornare, lacinia nunc ut, interdum nulla. Aenean ut gravida mauris, ac feugiat urna. Ut tristique ante et eros varius, non maximus purus cursus. Vivamus rhoncus tortor lacus, ac faucibus velit aliquet a. Integer convallis erat sed massa condimentum, in convallis nisl molestie. Quisque quis lectus magna. Morbi at ultricies ligula. Maecenas ex dolor, lacinia non pharetra sed, rhoncus ac purus. Aliquam erat volutpat. Morbi gravida facilisis sagittis. Mauris sodales velit eget dolor scelerisque efficitur. Pellentesque ultrices ut mauris nec efficitur.<br><br>

			Suspendisse dignissim feugiat porta. Aliquam vitae nulla nunc. Nunc et placerat nulla. Duis semper pellentesque urna, sit amet tempor eros luctus et. Vivamus vehicula non massa id ultrices. Nullam iaculis nec est eu rhoncus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tristique, risus et mattis mattis, dolor orci ultricies dolor, nec vulputate massa est in justo. Morbi imperdiet ex vel ultrices venenatis. Ut scelerisque dignissim nisl, vel tincidunt quam tempor a. Nunc vel pulvinar lacus. Nulla imperdiet odio in fringilla rutrum.<br><br>

			Praesent eget efficitur nulla. Donec aliquet, nisi eget ornare congue, metus magna pretium quam, at posuere dui metus ac lorem. Vestibulum commodo lorem elit. Morbi gravida neque sit amet euismod scelerisque. Phasellus mauris nisi, ultrices sit amet libero ac, efficitur congue nulla. Aliquam rutrum pharetra massa. Etiam eget elementum lorem, eu ultricies eros. Nunc vulputate sapien lacus, vitae facilisis turpis ullamcorper a. Donec ornare magna at elementum dictum. Aliquam euismod diam libero, at tempus quam laoreet nec. Vivamus malesuada est non neque luctus, a interdum dui lacinia. Curabitur vehicula venenatis iaculis. Nunc sit amet erat elementum, tincidunt velit a, sodales tortor. Fusce luctus tincidunt sapien quis hendrerit.<br><br>

			Integer velit ipsum, venenatis id elit sit amet, volutpat dictum neque. Sed blandit purus sit amet condimentum gravida. Suspendisse eget justo porta, auctor justo in, commodo dolor. Curabitur tempor erat ipsum, non pellentesque diam fringilla non. Sed varius tortor massa, sed condimentum leo vulputate quis. Integer a risus ullamcorper, pulvinar felis eget, egestas lacus. Integer suscipit arcu eget sem dignissim, eu finibus ex placerat. Curabitur a risus in leo porta pulvinar. Curabitur iaculis neque id orci tempus, nec gravida ante pharetra. Suspendisse sed tempus justo. Sed varius arcu sit amet lorem semper laoreet. Mauris consequat ultricies aliquam. Etiam id tristique mi, id porttitor ligula. Sed hendrerit, arcu et elementum viverra, diam augue viverra quam, sed finibus felis tellus sit amet ipsum.</p>

			<hr>

			<h3>Useful Links</h3>
			<a href='http://www.legalandgeneral.com/_resources/pdfs/life-cover/trust-information/Discretionary-Trust-Form.pdf'>Legal and General</a>

			<hr>

			<h3>My Active Cases</h3>

		</div>
		<div class="col-md-3">
			<h3>FAQ's</h3>
			<ul>
			<li><strong>Who is the settlor?</strong><br>
			The person or people who set up the trust. They should be 18 or over and of sound mind.</li>
			<li><strong>Who can be a trustee?</strong><br>
			You can appoint any adult who is of sound mind as a trustee. You can also appoint a trust company. There are a number of things to bear in mind when you appoint your trustees and you should speak to your own professional advisers about this. With the protection trusts, as the settlor, you automatically become a trustee. We recommend that you appoint at least one other trustee.</li>
			<li><strong>Who has the power to change the
			beneficiaries under the trust?</strong><br>
			As the settlor, you can choose who will benefit from
			the trust when you set it up. You can also change the beneficiaries. When you die, any surviving settlor can change the beneficiaries. When all the settlors have died, the trustees can change the beneficiaries until the trust ends.</li>
			<li><strong>Can a husband and wife or civil partners each take out their own trust arrangements?</strong><br>
			Yes, but we recommend that you discuss this with professional advisers first as it could remove any inheritance tax advantage.</li>
			<li><strong>Can a husband and wife or civil
			partners establish a trust jointly?</strong><br>
			Yes, you can do this with the Aviva Discretionary Gift
			Trust (Protection) or the Aviva Survivor Trust. The Aviva Married Women’s Property Act Trust is only suitable for life insurance plans that only cover one person.</li>
			<li><strong>Can I use the trust with existing life
			insurance plans?</strong><br>
			Yes, you can put an existing life insurance plan under trust using the Aviva Discretionary Gift Trust (Protection) or the Aviva Survivor Trust.</li>
			</ul>
		</div>
	</div>
</div>
