<div class="col-md-12">
	<div class="col-md-3">
		<h5>Breadcrumbs</h5>
		<%= link_to 'Placing a Life Policy in Trust', lifetrust_path %><br>
		<%= link_to 'Placing a Life Policy in Trust', lifetrust_path %><br>
		<%= link_to 'Placing a Life Policy in Trust', lifetrust_path %><br>
		<%= link_to 'Placing a Life Policy in Trust', lifetrust_path %>
	</div>
	<div class="col-md-9">

	</div>
</div>